<!Doctype html>
<html ng-app="staffApp">
    <head>
        <title>Restful Client implementation</title>
        <base href="http://scm.ulster.ac.uk/~B00697571/rest/"> 
        <link rel="stylesheet" href="public/style.css">
    </head>
    <body>
      <div class="container" ng-controller="StaffListCtrl">
          <div id="staffs">
          <h2>Staff list</h2>
           <ul id="staff_list">
               <li class="staff" ng-repeat="staff in staffs.staff">
                   <dl>
                      <dt>Staff Id</dt>
                      <dd>{{staff.Staff_Id}}</dd>
                      <dt>Name</dt>
                      <dd>{{staff.FirstName}} {{staff.LastName}}</dd>
                      <dt>Campus</dt>
                      <dd>{{staff.Campus}}</dd>
                  </dl>
               </li>
           </ul>
           <h2>Post new Staff</h2>
           <form id="create_form" action="#">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstname"  name="firstname">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastname" name="lastname">
                <label for="campus">Campus:</label>
                <input type="text" id="campus" name="campus">
               <button type="submit">send</button>
           </form>
           
           <h2>Find Staff By Id to Edit.</h2>
           <form id='find_staff' action="">
           <label for="staff_id"></label>
               <input type="text" name="staff_id">
               <button type="submit">Find Staff</button>
            </form>
            
            <h2>Edit Staff.</h2>
           <form id='edit_staff' action="">
               <input type="hidden" name="Staff_Id">
               <label for="firstName">First Name:</label>
                <input type="text" id="firstname"  name="FirstName">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastname" name="LastName">
                <label for="campus">Campus:</label>
                <input type="text" id="campus" name="Campus">
               <button type="submit">Update Staff</button>
               <button id="deleteBtn" type="button">Delete Staff</button>
            </form>
       </div>
      </div>
      
    
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script type="text/javascript">
            var staffApp = angular.module("staffApp", []);
            
            staffApp.controller('StaffListCtrl', function($scope, $http) {
                $http.get("api.php/staffs").success(function(data) {
                    console.log(data);
                   $scope.staffs = data; 
                });
            });
            
            $.fn.serializeObject = function()
            {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };
            
            function showAllStaffs(res) {
                $staffList = $('#staff_list').html("");
                $("#tpl_staff").tmpl(res.staff).appendTo($staffList); 
            }
            function showError(a) {
                alert('error occured')
            }
            
            function Staff(fn,ln,ca) {
                this.firstname = fn;
                this.lastname = ln;
                this.campus = ca;
            }
            
            $("#create_form").on("submit", function(e) {
                e.preventDefault();
                $form = $(e.target);
                var vals = $form.serializeObject();
                var staff = new Staff(vals.firstname,vals.lastname,vals.campus);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: 'api.php/staffs',
                    data: JSON.stringify(staff),
                    success: function(resp) { retrieveAllStaff(); },
                    error: function() { alert('error'); }
                })
            });
            
            $("#find_staff").on("submit", function(e) {
               e.preventDefault(); 
                $form = $(e.target);
                var vals = $form.serializeObject();
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: 'api.php/staffs/' + vals.staff_id,
                    success: function(resp) { 
                        if(!resp) { alert("Staff does not yet exist"); return; }
                        var $editForm = $("#edit_staff");
                        $.each(resp, function(key,value){
                           var $ctrl = $('[name='+key+']',$editForm).val(value); 
                        });
                    },
                    error: function() { alert('error'); }
                });
            });
            $("#edit_staff").on("submit", function(e) {
                e.preventDefault();
                $form = $(e.target);
                var vals = $form.serializeObject();
                var staff = new Staff(vals.firstname,vals.lastname,vals.campus);
                $.ajax({
                    type: 'PUT',
                    dataType: 'json',
                    url: 'api.php/staffs/' + vals.Staff_Id,
                    data: JSON.stringify(staff),
                    success: function(resp) { retrieveAllStaff(); },
                    error: function() { alert('error'); }
                });
            });
            
            $("#deleteBtn").on("click",function(e) {
               e.preventDefault();
                $form = $(e.target).parent('form');
                var vals = $form.serializeObject();
                if(vals.Staff_Id == "") {
                    alert('Load Staff');
                    return;
                }
                $.ajax({
                    type: 'DELETE',
                    dataType: 'json',
                    url: 'api.php/staffs/' + vals.Staff_Id,
                    success: function(resp) { retrieveAllStaff(); },
                    error: function() { alert('error'); }
                });
            });
        </script>
    </body>
</html>