body {
    background-color: #efefef;
    font-family: "Helvetica Neue", "Helvetica",sans-serif
}

.container {
    max-width: 1140px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}


#staff_list:after {
    display: table;
    clear: both;
    content: "";
}

ul#staff_list {
    display: block;
    list-style: none; 
}

ul#staff_list li.staff {
    display: block;
    float: left;
    width: 45%;
    margin: 5px;
    padding: 20px;
    border: 1px dashed #333;
    background-color: lightyellow;
}