<!Doctype html>
<html>
    <head>
        <title>Templating fun</title>
        <base href="http://scm.ulster.ac.uk/~B00697571/rest/"> 
    </head>
    <body>
       <div id="staffs">
           <ul id="staff_list"></ul>
       </div>
       <script id="tpl_staff" type="text/x-jQuery-templ">
       <li>Staff Id: ${Staff_Id}, FullName: ${FirstName} ${LastName}, Campus: ${Campus}</li>
        </script>
        <script id="tpl_staff_highlight" type="text/x-jQuery-templ">
       <li style="background-color: lightblue">Staff Id: ${Staff_Id}, FullName: ${FirstName} ${LastName}, Campus: ${Campus}</li>
        </script>
        <script id="tpl_staff2" type="text/x-jQuery-templ">
            <li>
                Staff Id: ${Staff_Id}, FullName: ${FirstName} ${LastName}, Campus: ${Campus}
                {{if Modules}}
                    Teaching modules: {{each Modules}}<b>${$value},</b> {{/each}}
                {{else}}
                    No Teaching
                {{/if}}
                {{if FullTime}}
                    {{tmpl '#tpl_fulltime'}}
                {{else}}
                    {{tmpl '#tpl_parttime'}}
                {{/if}}
                {{if sendEmail}}
                    {{html sendEmail}}
                {{/if}}
            </li>
        </script>
        <script id="tpl_fulltime" type="text/x-jQuery-templ">
            <br><b>Full Time</b>
        </script>
        <script id="tpl_parttime" type="text/x-jQuery-templ">
            <br><b><u>Part Time</u></b>
        </script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
       <script src=http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js></script>
       <script type="text/javascript">
            $( document ).ready( function () {
                /**$.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: 'api.php/staffs',
                    success: showAllStaffs,
                    error: showError
                });*/
                $('#tpl_staff').tmpl(staffs).appendTo('#staff_list');
                $("li").click(function() {
                    var templItem = $(this).tmplItem();
                    templItem.tmpl = $("#tpl_staff_highlight").template();
                    templItem.update();
                });
            });
            var showAllStaffs = function(res) {
                $('#tpl_staff').tmpl(res.staff).appendTo('#staff_list');
            };

            var showError = function() {
                alert('Sorry, there was a problem.');
            }
            
            var staffs = [
                {
                    "Staff_Id":"1",
                    "LastName":"Turing",
                    "FirstName":"Alan",
                    "Campus":"Belfast",
                    "Modules": ["COM533","COM511"],
                    "sendEmail": "<a href='mailto:a@b.de?Subject=Hello'>Send Mail</a>"
                },
                {
                    "Staff_Id":"2",
                    "LastName":"Fehrer",
                    "FirstName":"Tobias",
                    "Campus":"Jordanstown",
                    "Modules": ["IMD533","IMD511","IMD500"]
                },
                {
                    "Staff_Id":"3",
                    "LastName":"Basting",
                    "FirstName":"Florian",
                    "Campus":"Jordanstown",
                    "FullTime": true
                },
                {"Staff_Id":"4","LastName":"Cruise","FirstName":"Tom","Campus":"Jordanstown"},
                {"Staff_Id":"5","LastName":"Fehrer","FirstName":"Sabine","Campus":"Motzenhofen"},
                {"Staff_Id":"6","LastName":"Klaus","FirstName":"Samsa","Campus":"Coleraine"},
                {"Staff_Id":"7","LastName":"Birner","FirstName":"Marianne","Campus":"Motzenhofen"}];
        </script>
    </body>
</html>